html {
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
    font-size: 10px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Questrial', sans-serif;
    /* height: 100vh; */
    /* padding: .75vh; */
    font-size: 12px;
}

#backgrounds {
    left:0;
    top:0;
    position: absolute;
    z-index: -2;
}

.background_faded {
    content:"";
    background-image: url('../img/lots-of-lights.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    background-attachment: fixed; 
    opacity: .9;
    height: 100vh;
    width:100vw;
}

.section-header {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: .5rem;
    text-align: center;
    padding-top: 1rem;
}

.spacing {
    height:8rem;
    background-color: rgba(0, 0, 0, .1)
}



/* NAVIGATION */

#navigation {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-rows: 1fr .5fr; */
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(107, 107, 107);
    color: white;
    border-bottom: solid .25rem rgb(171, 171, 171);
}

#name-header {
    grid-row-start: 1;
    display: grid;
    width: 100%;
    text-align: center;
}

#name {
    /* grid-row-start: 1; */
    font-size: 5rem;
    height: 5.7rem;
    width: 100%;
    font-weight: 500;
    padding-bottom: 0;
    margin-bottom: 0;
}

#slogan {
    font-size: 1.5rem;
    padding-top:0;
    padding-bottom: 1.5rem;
}

#nav-social {
    /* grid-row-start: 2; */
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav-item {
    width:100%;
    height: 100%;
    text-align: center;
    color:white;
}

i {
    padding: .6rem;
}

.nav-item:hover {
    color:rgb(107, 107, 107);
    background: white;
    transition-timing-function: ease;
    transition: .65s; 
}

.onenav {
    background-color: rgb(60, 60, 60);
}

.twonav {
    background-color: rgb(80, 80, 80);
}

.threenav {
    background-color: rgb(100, 100, 100);
}

.fournav {
    background-color: rgb(120, 120, 120);
}



/* TOP IMAGE */

#top-images {
    /* background-image: url('../img/passion-led-us-here.jpg'); */
    display: relative;
    /* background-image: url('../img/quote-chalk-think-words.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15rem;
    height: 17rem;
}

#bio {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(255, 255, 255,1);
    padding: 1.75rem;
}

#my-picture {
    margin-top: -14rem;
    background-image: url("../img/Evan-Peru.jpeg");
    border-radius: 12rem;
    border: 1rem solid rgb(120, 120, 120);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25rem;
    height: 25rem;
    display: inline-block;
}

#my-bio {
    font-size: 1.75rem;
    text-indent: 2rem;
}

.indent {
    text-indent: 1.5rem;
}



/* WHAT I KNOW */

#what-i-know {
    /* border-top: 4rem solid rgba(0,0,0,0); */
    background-color: rgba(49,199,191,1);
}

#container {
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    padding-top: 1rem;
}

.icon-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: end;
    text-align: center;
}

.icon-name {
    font-size: 1.4rem;
    padding-bottom: 2px;
    vertical-align: bottom;
}

.icon-container i {
    font-size: 2rem;
}



/* PROJECTS */

#projects {
    background-color: rgba(255, 255, 255, 01);
    height: auto;
    padding-bottom: 4rem;
}

.project {
    height: 25rem;
    margin: 3rem;
    margin-top: 2rem;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.13);
    border-radius: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    background-color: grey;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
}

.project-name {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.project-description {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left:.5rem;
}

#footer {
    background-color: rgba(49, 199, 191, 1)
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding-left: 30vw;
    padding-right: 30vw;
    padding-bottom: 2rem;
    padding-top: 1rem;
    font-size: 3rem;
}

@media screen and (min-width: 700px) {
    html {
        font-size: 12px;
    }
  }


@media screen and (min-width: 900px) {
    html {
        font-size: 13px;
    }

    #all-projects {
        background-color: white;
        margin-top: 4rem;  
    }

    #projects {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color:#e2e2e2;
    }

    .project {
        max-width: 900px;
    }

    /* BIO SHIFT */


    #bio {
        display: flex;
        flex-direction: row;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    #my-picture {
        margin-top: -19rem;
        min-width: 24rem;
        min-height: 23rem;
        margin-left:4rem;
    }


    #information {
        display: flex;
        flex-direction: column;
    }

    #information > .section-header {
        padding-top: 2rem;
        padding-bottom: 2.5rem;
        margin-left: 2rem;
    }

    
    #my-bio-box {

    }

    .second {
        margin-left: -28rem;
    }

    .first {
        margin-left: 2rem;
    }



  }


  /* @media screen and (min-width: 1100px) {
    html {
        font-size: 14px;
    }
  } */